
@model List<ResultArticleDto>
@{
    ViewData["Title"] = "Article List";
    Layout = "~/Views/Layout/index.cshtml";
}

<div class="back-wrapper">

    <!-- Breadcrumb -->
    <div class="back-breadcrumbs">
        <div class="breadcrumbs-wrap">
            <div class="breadcrumbs-inner">
                <div class="container">
                    <div class="breadcrumbs-text">
                        <h1 class="breadcrumbs-title">Makale Listesi</h1>

                        <div class="back-nav">
                            <ul>
                                <li><a href="/Default/Index/">Ana sayfa</a></li>
                                <li>Tum Makaleler</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="back-category-style-grid pt-70 pb-70">
        <div class="container">
            <div class="row">

                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <div class="col-lg-4">

                            <div class="image-areas">
                                <a href="#">
                                    <img src="@item.CoverImageUrl"  alt="image" style="height: 250px; width: 600px;">
                                </a>
                            </div>

                            <div class="back-btm-content">

                                <a href="#" class="back-cates">
                                    Kategori Id: @item.CategoryName
                                </a>

                                <h3>
                                    <a href="#">@item.Title</a>
                                </h3>

                                <ul>
                                    <li class="back-author">
                                        Yazar: <a href="#">Adi Soyadi</a>
                                    </li>

                                    <li class="back-date">
                                        @item.CreateDate.ToString("dd-MMM-yyyy")
                                    </li>
                                </ul>

                                <p>
                                    @(item.Content != null && item.Content.Length > 70
                                        ? item.Content.Substring(0, 70)
                                        : item.Content)
                                </p>

                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-12">
                        <p>No articles found</p>
                    </div>
                }

            </div>

            <!-- Pagination -->
            <ul class="back-pagination mt-30">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="back-next"><a href="#">Next<i class="arrow_carrot-right"></i></a></li>
            </ul>

        </div>
    </div>

</div>